<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="currencyDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Select Currency
    </button>
    <ul class="dropdown-menu" aria-labelledby="currencyDropdown">
        <li><a class="dropdown-item" href="#" onclick="setCurrency('gel'); return false;">GEL</a></li>
        <li><a class="dropdown-item" href="#" onclick="setCurrency('usd'); return false;">USD</a></li>
        <li><a class="dropdown-item" href="#" onclick="setCurrency('eur'); return false;">EUR</a></li>
    </ul>
</div>
