@using System.Security.Claims
@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var userName = User.Identity.Name;
}

<ul class="navbar-nav">
    @if (isAuthenticated)
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-controller="User" asp-action="Update" title="Manage">Hello, @userName!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" asp-controller="User" asp-action="Logout" method="post">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
