@model List<OrderResponseModel>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Order Date</th>
                <th scope="col">Total Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string currencySymbol = item.Currency switch
                {
                    "usd" => "$",
                    "eur" => "€",
                    _ => "₾"
                };
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderDateTime</td>
                    <td>@currencySymbol@item.TotalPrice.ToString("N2")</td>
                    <td>
                        <a asp-action="Details" asp-controller="Order" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
